button {
    color: #f32179;
    padding: 20px;
    border-color: #f32179;
    font-size: 20px;
    transition: 0.2s;
    background-color: transparent;
    border-radius: 3em;
    cursor: pointer;
}

button:hover {
    color: #fff;
    background: #f32121;
    box-shadow: 0 0 10px #f32179, 0 0 30px #f32179, 0 0 60px #f32179;
}